@charset "UTF-8";

/*
   em HTML é id: em CSS é # (só pode um elemento)
   em HTML é class= em CSS é . (pode vários elementos)

*/   

body{
    background-color: rgba(90, 219, 15, 0.527);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   color: rgb(49, 109, 49);

}

h1#principal{
     background-color: rgb(36, 199, 77);
    text-align: center;
}

h2{
   color: rgb(97, 122, 54);
}

.basico{
  color: rgb(97, 122, 54);
  

}

.intermediario{
   color: rgb(202, 199, 36);


}

.avancado{
  color: rgb(122, 54, 54);

}

.destaque{
   background-color: rgba(224, 208, 65, 0.603);
}